body{margin:0px;padding:0px;background:#cac2b5;}
*{margin:0px; padding:0px;}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf"); }
.container{background:#f2e2d2;width:60%;height:380px;margin:auto;margin-top:110px;border-radius: 7px;padding-top:20px;}
.block1{width:48%;height:auto;margin-left: 20px;float: left;border-radius: 7px;background-image: linear-gradient(45deg,rosybrown,#9d8795,rosybrown);}
.s{font-family: 'Satisfy', cursive;color:#23111c;font-size: 250px;}
.block2{float:right;margin-right: 20px;}
h2{padding-right: 25px;padding-top: 20px;}
input,select{outline:none;border: none;border-bottom: 1px solid black; background-color: #f2e2d2;height:30px;}
select{width:340px;}
select:required:invalid {
    color: #666;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: #000;
  }
tbody input{width:340px;}
td{padding-bottom: 7px;}
input::placeholder{padding-bottom:7px;font-size: 17px;font-family: "Poppins-Regular";}
input[type=submit]{width: 140px;height: 40px;background-color: #9d8795;border:none;font-family: "Poppins-Regular";font-size: 18px;font-weight: bold;border-radius: 7px;}
input[type=submit]:focus{background-color: #5a3a4e;}